* {
    font-family: 'Arapey', serif;
    scroll-behavior: smooth;
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
}

nav {
    display: flex;
    align-self: flex-start;
    position: sticky;
    padding: 20px 20px 10px 20px;
    top: 0px;
}

ul {
    list-style: none;
    padding-left: 10%;
}

main {
    padding: 0px 20px 20px 20px;
    box-shadow: 1px 1px 3px 1px grey;
}

h1 {
    text-align: right;
}

h2 {
    padding-left: 6%;
}